@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;
  position: relative;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  .left {
    flex: 0.5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .imgContainer {
      width: 700px;
      height: 700px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        width: 100%;

        @include mobile {
          width: 60%;
          margin-top: 80px;
        }
      }
    }
  }

  .right {
    flex: 0.5;

    .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        align-items: center;
      }

      h1 {
        font-size: 50px;
        margin: 10px 0px;

        @include mobile {
          font-size: 40px;
        }
      }

      h2 {
        font-size: 35px;
      }

      h3 {
        font-size: 30px;
        span {
          font-size: inherit;
          color: $secColor;
        }
      }

      a {
        text-decoration: none;
        color: inherit;
        margin-top: 50px;
        margin-left: 25%;

        @include mobile {
          margin-left: 0;
        }
        .arrow {
          font-size: 60px;
          animation: arrowBlink 2s infinite;
          @keyframes arrowBlink {
            100% {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
